<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chowin21.android_odi_go"
    android:versionCode="6"
    android:versionName="6.0.8" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:debuggable="false"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        <activity
            android:name="com.chowin21.android_odi_go.Intro"
            android:configChanges="keyboardHidden|orientation" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.chowin21.android_odi_go.Activity_MainActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.chowin21.android_odi_go.activity_3_input_additional"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.chowin21.android_odi_go.Page2_Category"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.chowin21.android_odi_go.Page2_Search"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.chowin21.android_odi_go.activity_1_map"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.chowin21.android_odi_go.activity_2_selected"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.chowin21.android_odi_go.activity_3_input"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.chowin21.android_odi_go.activity_4_search"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.chowin21.android_odi_go.activity_5_category_logo"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity android:name="com.chowin21.android_odi_go.activity_5_category" >
        </activity>
        <activity android:name="com.chowin21.android_odi_go.DBTest" >
        </activity>
    </application>

</manifest>